/* --------------------------- *\
    SECCION CONOCIMIENTOS
\* --------------------------- */

#conocimientos {
	background-image: url('../../images/conocimientos.png');
	background-position-x: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

	.conocimientos-contenido {
		min-height: calc(100vh - 40px);
		max-width: 900px;
		margin: 0 auto;

		padding: var(--espaciado-minimo-entre-seccion) var(--espaciado-normal);
		box-sizing: border-box;

		display: grid;
		align-content: center;
	}

		.conocimientos-subtitulo {
			line-height: 1.5;
		}

		.conocimientos-listado {
			font-size: 0.8em;
			text-transform: uppercase;
			color: var(--color-lightgray);

			margin-top: var(--espaciado-alto);
			
			display: grid;
			grid-template-columns: auto 1fr;
			grid-row-gap: var(--espaciado-muy-leve);
		}

			.tema-nombre {
				text-align: right;
			}

			.tema-nivel {
				display: flex;
				align-items: center;
			}

				.nivel-barra {
					height: .8em;
					padding: 0 var(--espaciado-normal);
					box-sizing: border-box;
				}
				.nivel-barra.n90 {
					width: 95%;
				}
				.nivel-barra.n85 {
					width: 89%;
				}
				.nivel-barra.n80 {
					width: 83%;
				}

					.barra-relleno {
						width: 0;
						height: inherit;
						background-color: var(--color-menu);
						will-change: width;
						/* animation: relleno-animado 1.5s forwards; */
					}
					
				.tema-porcentaje {
					opacity: 0;
					will-change: opacity;
					/* animation: porcentaje-animado .75s forwards; */
				}

/* Animaciones añadidas en el evento scroll mediante JS */
@keyframes relleno-animado {
	to {
		width: 100%;
	}
}
@keyframes porcentaje-animado {
	to {
		opacity: 1;
	}
}