/* --------------------------- *\
        SECCION CONTACTO
\* --------------------------- */

#seccion_contacto {
	background-image: url('../../images/contacto.png');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

	.contacto-contenedor {
		max-width: 1024px;
		margin: 0 auto;
		padding: 0 var(--espaciado-normal);

		position: relative;
		bottom: var(--espaciado-seccion-contacto);
	}

		.contacto-contenido {
			min-height: calc(var(--espaciado-seccion-contacto) * 2);

			background-color: #333b50;
			/* padding: var(--espaciado-muy-alto); */
			padding: calc(var(--espaciado-muy-alto) * 2);
			box-sizing: border-box;

			display: grid;
			/* grid-template-columns: repeat(2, minmax(auto, 400px)); */
			grid-gap: var(--espaciado-alto);
			justify-content: center;
			align-content: center;
		}

			.contacto-contenido-informacion {
				color: var(--color-white);

				display: grid;
				/* grid-template-rows: auto auto auto 1fr; */
				grid-template: auto / auto auto; /* */
			}

				.contacto-informacion-titulo {
					grid-column: 2 span; /* */
					/* text-align: left; */
					text-align: center; /* */
					/* font-size: 1.4em; */
					font-size: 1.6em; /* */
					font-weight: 400;
					letter-spacing: initial;
					margin-bottom: var(--espaciado-normal);
				}

				.contacto-informacion-descripcion {
					grid-column: 2 span; /* */
				}

				.contacto-informacion-descripcion,
				.contacto-informacion-correo {
					font-size: 0.9em;
					font-weight: 350;
					line-height: 1.8;
					letter-spacing: .05em;
					margin-top: var(--espaciado-leve);
				}

				.contacto-informacion-correo {
					/* text-decoration: none; */
					color: var(--color-white);
				}

				.contacto-informacion-redes-sociales {
					text-align: right; /* */
					/* margin-top: var(--espaciado-muy-leve); */
					margin-top: var(--espaciado-leve); /* */
				}
		
					.contacto-icono {
						color: white;
						font-size: 1.5em;
						cursor: pointer;
					}
					.contacto-icono:first-of-type {
						margin-right: var(--espaciado-normal)
					}
					.contacto-icono:hover,
					.contacto-informacion-correo:hover {
						color: var(--color-menu);
					}

			.contacto-formulario {
				/* display: grid; */
				display: none;
				align-content: center;
				grid-row-gap: var(--espaciado-leve);
			}

				.contacto-formulario input,
				.contacto-formulario textarea {
					line-height: 1.8;
					font-size: 0.9em;

					padding: var(--espaciado-muy-leve) var(--espaciado-leve);
					box-sizing: border-box;
					resize: none;
				}
				
				#contacto_enviar {
					border: none;
					outline: none;
					cursor: pointer;

					color: var(--color-white);
					line-height: 2.1;

					transition: 250ms;
					background-color: var(--color-menu);
				}
				#contacto_enviar:hover {
					background-color: var(--color-background-solido-light);
				}

		.contacto-arrow-container {
			position: absolute;
			left: 0;
			right: 0;
			height: var(--espaciado-seccion-contacto);

			display: flex;
			align-items: center;
			justify-content: center;
		}

			.contacto-arrow-link {
				text-decoration: none;
			}
		
				.contacto-arrow-link i {
					color: var(--color-lightgray);
					font-size: 3em;
					transition: 150ms;
				}
				.contacto-arrow-link i:hover {
					transform: scale(1.05)
				}