/* --------------------------- *\
			FOOTER
\* --------------------------- */

#footer {
	height: 100px;
	background-color: #333b50;

	display: flex;
	align-items: center;
	justify-content: center;
}

	.footer-copyright {
		color: var(--color-lightgray);
		font-size: 0.7em;
		font-weight: 350;
		letter-spacing: .05em;
	}