/* --------------------------- *\
			GENERALES
\* --------------------------- */

html {
	font-family: Segoe UI, sans-serif; /* */
	scroll-behavior: smooth;
}

body {
	min-width: 320px;
}

h1, h2, h3 {
	margin: 0;
	color: var(--color-white);
	text-transform: uppercase;
	text-align: center;
}

h1 {
	font-size: 4em;
	line-height: 1.3;
	letter-spacing: .1em;
}
	h1 span {
		color: var(--color-menu)
	}

h2 {
	font-size: 2.4em;
	letter-spacing: .15em;
}
	h2 span {
		color: var(--color-lightgray); /* */
	}

h3 {
	margin: var(--espaciado-normal) 0;
	font-size: 1.2em;
	font-weight: 400;
	letter-spacing: .2em;
}

.overflow-hidden {
	overflow: hidden;
}

.container-sections-header-hero {
	background-image: url('../../images/hero.png');
	background-position-x: 100%;
	background-position-y: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: contain;
}

.contenedor-trabajo-portafolio {
	background-image: url('../../images/main.png');
	background-repeat: no-repeat;
	background-size: cover;
}

.section-background-color {
	width: 100%;
	height: 100%;
	background-color: var(--color-background);
}