/* --------------------------- *\
              HERO
\* --------------------------- */

#hero {
    width: 100%;
    min-height: calc(100vh - 100px);
    padding: var(--espaciado-muy-alto) 0;
    box-sizing: border-box;

    text-transform: uppercase;
    color: var(--color-white);

    display: grid;
    align-content: center;
    justify-content: center;
}

    .hero-subtitulo {
        margin: var(--espaciado-alto) 0;
        font-size: 1.2em;
        font-weight: 400;
        letter-spacing: .2em;
    }

    .hero-arrow-link {
        text-decoration: none;
        margin: 0 auto;
        cursor: pointer;
    }
    
        .hero-arrow-link i {
            color: var(--color-lightgray);
            font-size: 3em;
            transition: 150ms;
        }
        .hero-arrow-link i:hover {
            transform: scale(1.05)
        }