@import "./normalize.css";

/* --------------------------- *\
			VARIABLES
\* --------------------------- */

:root {
    /* Colores */
	--color-menu: #00d646;
	--color-background: rgba(20, 30, 60, .6);

	--color-black: #000000;
	--color-gray: #6c757d;
	--color-lightgray: #bec7d5;
	--color-white: #ffffff;

    /* Espaciado */
	--espaciado-muy-leve: calc(var(--espaciado-normal)/4);
	--espaciado-leve: calc(var(--espaciado-normal)/2);
	--espaciado-normal: 1.25rem;
	--espaciado-alto: calc(var(--espaciado-normal)*1.5);
	--espaciado-muy-alto: calc(var(--espaciado-normal)*2);

	/* Otros */
	--border-radius: 0.3rem;
}

/* --------------------------- *\
			GENERALES
\* --------------------------- */

html {
	font-family: system-ui, sans-serif;
	scroll-behavior: smooth;
}

h1, h2, h3 {
	margin: 0;
	color: var(--color-white);
	text-transform: uppercase;
	text-align: center;
}

h1 {
	font-size: 4em;
	line-height: 1.3;
	letter-spacing: .1em;
}
	h1 span {
		color: var(--color-menu)
	}

h2 {
	font-size: 2.4em;
	letter-spacing: .15em;
}
	h2 span {
		color: var(--color-lightgray); /* */
	}

h3 {
	margin: var(--espaciado-normal) 0;
	font-size: 1.2em;
	font-weight: 400;
	letter-spacing: .2em;
}

main {
	background-image: url('../../images/main.png');
	background-repeat: no-repeat;
	background-size: cover;
}

.background-color-seccion {
	width: 100%;
	height: 100%;
	background-color: var(--color-background);
}

/* --------------------------- *\
              HERO
\* --------------------------- */

#hero {
	background-image: url('../../images/hero.png');
	/* background-position-x: right; */
	background-position-x: calc(100% + 0%);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: contain;
}

    .hero-navbar {
        height: 60px;
        box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.1);

        display: grid;
        grid-auto-flow: column;
        justify-content: center;
        align-content: center;
    }

        .hero-menu-link {
			height: inherit;
			padding: 0 var(--espaciado-alto);
			
			display: flex;
			align-items: center;
			
            font-size: 0.7em;
			text-decoration: none;
            text-transform: uppercase;
			color: var(--color-lightgray);
			
			cursor: pointer;
			transition: 100ms;
		}
		.hero-menu-link:first-of-type {
			color: var(--color-menu);
		}
		.hero-menu-link:hover {
			transform: scale(1.1)
		}

			.hero-menu-link span {
				padding: var(--espaciado-leve);
				border: solid 1px var(--color-lightgray);
				border-radius: var(--border-radius);
			}

	.hero-contenido {
		width: 100%;
        height: calc(100vh - 100px); /* */
        text-transform: uppercase;
        color: var(--color-white);

        display: grid;
        align-content: center;
        justify-content: center;
	}

		.hero-parrafo {
			margin: var(--espaciado-muy-alto) 0;
		}

		.hero-arrow-link {
			display: block;
			width: fit-content;
			margin: 0 auto;
			cursor: pointer;
		}

/* --------------------------- *\
    SECCION CONOCIMIENTOS
\* --------------------------- */

#seccion_conocimientos {
	height: calc(100vh - 40px); /* */
	background-image: url('../../images/conocimientos.png');
	background-position-x: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

	.conocimientos-contenido {
		height: 100%;
		max-width: 900px;
		margin: 0 auto;
		padding: 0 var(--espaciado-alto);

		display: grid;
		align-content: center;
	}

		.conocimientos-listado {
			font-size: 0.8em;
			text-transform: uppercase;
			color: var(--color-lightgray);

			margin-top: var(--espaciado-alto);
			
			display: grid;
			grid-template-columns: auto 1fr;
			grid-row-gap: var(--espaciado-muy-leve);
		}

			.tema-nombre {
				text-align: right;
			}

			.tema-nivel {
				display: flex;
				align-items: center;
			}

				.nivel-barra {
					height: .8em;
					padding: 0 var(--espaciado-normal);
					box-sizing: border-box;
				}
				.nivel-barra.n95 {
					width: 95%;
				}
				.nivel-barra.n90 {
					width: 90%;
				}
				.nivel-barra.n85 {
					width: 85%;
				}

					.barra-relleno {
						height: inherit;
						background-color: var(--color-menu);
						animation: relleno-animado 2s;
					}

				.tema-porcentaje {
					opacity: 0;
					animation: porcentaje-animado 1s 1.8s forwards;
				}

/* Programa animacion con JS, al mostrarse en pantalla y un tema a la vez */
@keyframes relleno-animado {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}
/* Programa animacion con JS, al mostrarse en pantalla y un tema a la vez */
@keyframes porcentaje-animado {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* --------------------------- *\
        SECCION TRABAJO
\* --------------------------- */

#seccion_trabajo {
	max-width: 1024px;
	margin: 0 auto;
	padding: 10% var(--espaciado-alto) 0; /* */

	display: grid;
	grid-row-gap: var(--espaciado-muy-alto);
}

	.trabajo-titulo {
		margin: var(--espaciado-normal) 0;
	}

	.trabajo-contenido {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}

		.trabajo-contenedor-imagen {
			grid-column: 2 span;
			position: relative;

			margin: 0;
			overflow: hidden;
			box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
		}

			.trabajo-imagen {
				width: 100%;
				height: 100%;
				object-fit: cover;
				vertical-align: top;
			}

			.trabajo-imagen-capa {
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				background-color: rgba(20, 40, 70, .6);

				display: grid;
				grid-auto-flow: column;
				align-content: center;
				justify-content: center;
				grid-column-gap: var(--espaciado-normal)
			}

				.trabajo-icono {
					color: white;
					font-size: 4em;
				}

				.trabajo-etiqueta {
					position: absolute;
					color: var(--color-white);

					border: 1px solid var(--color-white);
					border-radius: var(--border-radius);
					padding: var(--espaciado-leve);
					margin: var(--espaciado-normal);
				}
				.trabajo-etiqueta.impar {
					right: 0;
				}

		.trabajo-descripcion {
			height: 70%;
			width: calc(100% + 15%);
			box-sizing: border-box;
			position: relative;
			left: -15%;

			padding: var(--espaciado-alto);
			background-color: rgba(255, 255, 255, 0.85);

			border-radius: calc(var(--border-radius) * 2);
			box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);

			align-self: center;
			display: grid;
			align-content: center;
		}
		.trabajo-descripcion.impar {
			left: 0;
			right: -15%;
			z-index: 100;
		}
		
			.trabajo-descripcion-titulo {
				color: var(--color-black);
				font-weight: 600;
				margin-top: 0;
			}

			.trabajo-descripcion-parrafo {
				margin-bottom: 0;
				line-height: 1.5;
			}

/* --------------------------- *\
        SECCION PORTAFOLIO
\* --------------------------- */

#seccion_portafolio {
	max-width: 1024px;
	margin: 0 auto;
	padding: 10% var(--espaciado-alto) calc(10% + 50px); /* */

	display: grid;
	align-content: center;
}

	.portafolio-proyectos {
		margin-top: var(--espaciado-muy-alto);
		box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);

		display: grid;
		grid-auto-flow: column;
	}
		
		.portafolio-proyecto {
			margin: 0;
			position: relative;
			cursor: pointer;
		}
		
			.portafolio-imagen {
				width: 100%;
				height: 100%;
				object-fit: cover;
				vertical-align: top;
				transition: 500ms;
			}
			.portafolio-proyecto:hover .portafolio-imagen {
				filter: brightness(0.7);
			}

			.portafolio-etiqueta {
				padding: 0.7em;
				margin: var(--espaciado-leve);

				color: var(--color-white);
				font-size: 0.8em;

				border: 1px solid var(--color-white);
				border-radius: var(--border-radius);

				position: absolute;
				right: 0;
				top: 0;
			}

			.portafolio-descripcion {
				margin: var(--espaciado-normal);
				padding: var(--espaciado-normal);
				width: calc(100% - var(--espaciado-normal) * 4);
				
				background-color: var(--color-white);
				border-radius: var(--border-radius);

				position: absolute;
				bottom: -40px; /* */
			}

				.portafolio-descripcion-titulo {
					margin: 0;
					font-weight: 500;
					letter-spacing: .05em;
					text-transform: uppercase;
				}

				.portafolio-descripcion-parrafo {
					margin-bottom: 0;
					line-height: 1.5;
					font-size: 0.95em;
				}

	.portafolio-espaciado-final {
		height: 30vh; /* */
	}

/* --------------------------- *\
        SECCION CONTACTO
\* --------------------------- */

#seccion_contacto {
	background-image: url('../../images/contacto.png');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

	.contacto-contenedor {
		max-width: 1024px;
		margin: 0 auto;
		padding: var(--espaciado-alto);
	}

		.contacto-contenido {
			position: relative;
			height: 60vh; /* */
			top: -30vh; /* */

			background-color: #333b50;
			padding: var(--espaciado-muy-alto);
			box-sizing: border-box;

			display: grid;
			grid-template-columns: repeat(2, minmax(auto, 400px));
			grid-column-gap: var(--espaciado-alto);
			justify-content: center;
			align-content: center;
		}

			.contacto-informacion {
				color: var(--color-white);

				display: grid;
				grid-template-rows: auto auto auto 1fr;
			}

				.contacto-titulo {
					text-align: left;
					font-size: 1.4em;
					font-weight: 400;
					letter-spacing: initial;
				}

				.contacto-descripcion,
				.contacto-correo {
					font-size: 0.9em;
					font-weight: 350;
					line-height: 1.8;
					letter-spacing: .05em;
				}

				.contacto-redes-sociales {
					margin-top: var(--espaciado-muy-leve);
				}
		
					.contacto-icono {
						color: white;
						font-size: 1.5em;
						margin: 0 var(--espaciado-leve);
						margin-top: var(--espaciado-muy-alto);
						cursor: pointer;
					}
					.contacto-icono:first-of-type {
						margin-left: 0
					}

			.contacto-formulario {
				display: grid;
				align-content: center;
				grid-row-gap: var(--espaciado-leve);
			}

				.contacto-formulario input,
				.contacto-formulario textarea {
					line-height: 1.8;
					font-size: 0.9em;

					padding: var(--espaciado-muy-leve) var(--espaciado-leve);
					box-sizing: border-box;
					resize: none;
				}
				.contacto-formulario input:focus,
				.contacto-formulario textarea:focus {
					border: 1px solid #00d646;
				}

				#contacto_enviar {
					border: none;
					outline: none;
					cursor: pointer;
					color: var(--color-white);

					transition: 250ms;
					background-color: #00d646; /* */
				}
				#contacto_enviar:hover {
					background-color: #324158; /* */
				}


/* --------------------------- *\
        PIE DE PAGINA
\* --------------------------- */

#footer {
	height: 120px;
	background-color: #333b50;
}