@import "./normalize.css";

/* --------------------------- *\
			VARIABLES
\* --------------------------- */

:root {
    /* Colores */
	--color-menu: #00d646;
	--color-background: rgba(20, 40, 70, .6);

	--color-black: #000000;
	--color-gray: #6c757d;
	--color-lightgray: #cecece;
	--color-white: #ffffff;
    /* Espaciado */
	--espaciado-muy-leve: calc(var(--espaciado-normal)/4);
	--espaciado-leve: calc(var(--espaciado-normal)/2);
	--espaciado-normal: 1.25rem;
	--espaciado-alto: calc(var(--espaciado-normal)*1.5);
	--espaciado-muy-alto: calc(var(--espaciado-normal)*2);
}

/* --------------------------- *\
			GENERALES
\* --------------------------- */

html {
	font-family: system-ui, sans-serif;
	scroll-behavior: smooth;
}

h1, h2, h3 {
	margin: 0;
	color: var(--color-white);
	text-transform: uppercase;
	text-align: center;
}

h1 {
	font-size: 4em;
	line-height: 1.3;
	letter-spacing: .1em;
}
	h1 span {
		color: var(--color-menu)
	}

h2 {
	font-size: 2.4em;
	letter-spacing: .15em;
}
	h2 span {
		color: #bec7d5; /* */
	}

h3 {
	margin: var(--espaciado-normal) 0;
	font-weight: 400;
	letter-spacing: .2em;
}

/* --------------------------- *\
              HERO
\* --------------------------- */

#hero {
	background-image: url('../../images/hero.png');
	background-position-x: right;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: contain;
}

    .hero-navbar {
        height: 60px;
        background-color: var(--color-background);
        box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.1);

        display: grid;
        grid-auto-flow: column;
        justify-content: center;
        align-content: center;
    }

        .hero-menu-link {
            cursor: pointer;
            color: var(--color-lightgray);
			padding: var(--espaciado-alto);
			
            font-size: 0.7em;
			text-decoration: none;
            text-transform: uppercase;
			
			transition: 100ms;
		}
		.hero-menu-link:first-of-type {
			color: var(--color-menu);
		}
		.hero-menu-link:hover {
			transform: scale(1.1)
		}

			.hero-menu-link span {
				padding: var(--espaciado-leve);
				border: solid 1px var(--color-lightgray);
				border-radius: 5px;
			}

	.hero-contenido {
		width: 100%;
        height: calc(100vh - 100px); /* */
        text-transform: uppercase;

        color: white;
        background-color: var(--color-background);

        display: grid;
        align-content: center;
        justify-content: center;
	}

		.hero-parrafo {
			margin: var(--espaciado-muy-alto) 0;
		}

		.hero-arrow-link {
			display: block;
			width: fit-content;
			margin: 0 auto;
			cursor: pointer;
		}

/* --------------------------- *\
        SECCION PROFESIONAL
\* --------------------------- */

#seccion_conocimientos {
	height: 100vh;
	background-image: url('../../images/conocimientos.png');
	background-position-x: right;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

	.conocimientos-contenido {
		height: 100%;
		width: 100%;
		background-color: var(--color-background);

		display: grid;
		justify-content: center;
		align-content: center;
	}

		.conocimientos-container {
			list-style: none;
			margin-top: var(--espaciado-alto);
			margin-bottom: 0;
			padding: 0;
		}
			.conocimientos-tema {
				color: #bec7d5; /* */
				text-transform: uppercase;
				font-size: 0.8em;

				display: flex;
				align-items: center;
			}

				.tema-nombre {
					width: 6.5em;
					text-align: right;
				}

				.tema-nivel {
					height: 1em;
					margin: 0 var(--espaciado-normal);

					border-top: solid 12px var(--color-menu);
					box-sizing: border-box;
				}
				.tema-nivel.n95 {
					width: calc(50em * 0.95);
				}
				.tema-nivel.n90 {
					width: calc(50em * 0.90);
				}
				.tema-nivel.n85 {
					width: calc(50em * 0.85);
				}

/* --------------------------- *\
\* --------------------------- */

.contenedor {
	height: 100vh;
}