@media (max-width: 1000px) {
    /* --- GENERALES --- */
    .container-sections-header-hero {
        background-position-x: calc(100% + 12vh);
    }
}

@media (max-width: 800px) {
    /* --- GENERALES --- */
    html {
        font-size: 14px;
    }

    .container-sections-header-hero {
        background-size: cover;
    }
}

@media (max-width: 600px) {
    /* --- GENERALES --- */
    html {
        font-size: 12px;
    }
    
    /* ----- HEADER ----- */
    #header {
        position: absolute;
    }

        .header-navbar {
            display: none;
        }

        .header-menu-button {
            display: block;
        }

    /* ------ HERO ------ */
    #hero {
        min-height: calc(100vh - 40px);
    }

    /* - CONOCIMIENTOS - */
    .nivel-barra {
        padding: 0 var(--espaciado-leve);
    }
}