/* ----------------------------- *\
        SECCION MODAL
\* ----------------------------- */

#modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    will-change: opacity;
}
#modal.active {
    opacity: 1;
    bottom: 0;
}
#modal.inactive {
    opacity: 0;
    animation: bottom-auto 0.5s forwards;
}
@keyframes bottom-auto {
    99% { bottom: 0 } 100% { bottom: auto }
}

    #modal_container {
        max-width: 1024px;
        max-height: calc(100vh - var(--espaciado-normal) * 2);

        background-color: var(--color-white);
        border-radius: var(--border-radius);
        margin: var(--espaciado-normal);

        display: none;
        grid-template-rows: auto 1fr;

        transition: transform 0.5s;
    }
    #modal.active #modal_container {
        display: grid;
        transform: translateY(0);
    }
    #modal.inactive #modal_container {
        transform: translateY(-6vh);
    }

        .modal-container-header {
            padding: var(--espaciado-normal);
            border-bottom: 1px solid #dee2e6;
            
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            position: relative;
        }

            .modal-encabezado-titulo {
                font-size: 1.4em;
                font-weight: 500;
                color: var(--color-black);
                margin: 0 auto;
            }

            .modal-encabezado-button {
                padding: 0;
                border: none;
                outline: none;
                cursor: pointer;
                background-color: transparent;

                color: var(--color-gray);
                font-size: 2.2em;
                padding-bottom: var(--espaciado-muy-leve);
                
                position: absolute;
                right: var(--espaciado-normal);
            }
            .modal-encabezado-button:hover {
                color: var(--color-black);
            }

        .modal-container-body {
            display: grid;
            grid-template-columns: 3fr 2fr;
            grid-gap: var(--espaciado-normal);
            
            margin: 1.5rem var(--espaciado-normal);
            overflow: auto;
        }

            .modal-body-imagen {
                margin: 0;
                align-self: center;
                height: 100%;
            }
                .modal-body-imagen img {
                    width: 100%;
                    height: inherit;
                    object-fit: cover;
                    vertical-align: top;
                }

            .modal-body-contenido {
                align-self: flex-start;
            }

                .modal-contenido-titulo {
                    margin-top: var(--espaciado-alto);
                    margin-bottom: 0.8rem;
                    font-weight: 500;
                    text-transform: uppercase;
                }
                .modal-contenido-titulo:first-of-type {
                    margin-top: 0;
                }

                .modal-contenido-parrafo {
                    line-height: 1.5;
                    text-align: justify;
                    margin: 0;
                }

                .modal-contenido-enlaces {
                    display: flex;
                    justify-content: space-between;
                }

                    .modal-contenido-enlaces a {
                        text-decoration: none;
                        color: #007bff;
                    }
                    .modal-contenido-enlaces a:hover {
                        color: #0056b3;
                    }

                    .modal-enlaces-github {
                        margin-left: var(--espaciado-normal)
                    }

                .modal-contenido-requerimientos {
                    font-size: 0.85em;
                    text-align: center;
                    color: var(--color-white);

                    display: grid;
                    grid-auto-flow: column;
                    grid-auto-columns: 1fr;
                }

                    .modal-contenido-requerimientos * {
                        padding: 0.2rem 0;
                        text-transform: uppercase;
                    }
                    .modal-contenido-requerimientos .html {
                        background-color: #ff7d00;
                    }
                    .modal-contenido-requerimientos .css {
                        background-color: #0096d1;
                    }
                    .modal-contenido-requerimientos .javascript {
                        background-color: #f7e018;
                    }
                    .modal-contenido-requerimientos .bootstrap {
                        background-color: #563d7c;
                    }