/* --------------------------- *\
        SECCION PORTAFOLIO
\* --------------------------- */

#seccion_portafolio {
	max-width: 1024px;
	margin: 0 auto;
	padding: var(--espaciado-minimo-entre-seccion) var(--espaciado-normal);

	display: grid;
}

	.portafolio-proyectos {
		margin-top: var(--espaciado-muy-alto);

		display: grid;
		grid-auto-flow: column;
	}
		
		.portafolio-proyecto {
			margin: 0;
			position: relative;
			cursor: pointer;
			box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
		}
		
			.portafolio-imagen {
				width: 100%;
				height: 100%;
				object-fit: cover;
				vertical-align: top;
				transition: 500ms;
			}
			.portafolio-imagen.platzi-video {
				filter: contrast(80%) brightness(0.9);
			}
			.portafolio-proyecto:hover .portafolio-imagen {
				filter: opacity(80%) brightness(0.4);
			}

			.portafolio-descripcion {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;

				display: none;
				align-content: center;
				justify-content: center;
				
				padding: var(--espaciado-alto);
				color: var(--color-white);
				text-decoration: none;
			}
			.portafolio-proyecto:hover .portafolio-descripcion {
				display: grid;
			}

				.portafolio-descripcion-titulo {
					margin: 0;
					margin-top: var(--espaciado-normal);

					font-weight: 500;
					letter-spacing: .05em;
					text-transform: uppercase;
					text-align: center;
				}

				.portafolio-descripcion-parrafo {
					font-size: 0.9em;
					line-height: 1.5;
					text-align: justify;
				}

				.portafolio-icono {
					text-align: center;
					font-size: 1.5em;
				}

	.portafolio-espaciado-de-contacto {
		height: var(--espaciado-seccion-contacto);
		margin: var(--espaciado-leve);
	}