@media (max-width: 1000px) {
    /* --- GENERALES --- */
    #inicio {
        background-position-x: calc(100% + 12vh);
    }

    /* --- PORTAFOLIO --- */
    .portafolio-descripcion {
        padding: var(--espaciado-normal);
    }

    /* ---- CONTACTO ---- */
    .contacto-contenido {
        padding: var(--espaciado-muy-alto);
    }
}

@media (max-width: 800px) {
    /* --- GENERALES --- */
    html {
        font-size: 14px;
    }

    #inicio {
        background-size: cover;
    }

    /* ---- TRABAJO ---- */
    .trabajo-imagen-capa {
        align-content: flex-end;
        justify-content: flex-start;
        padding: var(--espaciado-leve)
    }
    .impar .trabajo-imagen-capa {
        justify-content: flex-end;
    }

        .trabajo-icono {
            font-size: 2.5em;
        }

    .trabajo-descripcion {
        width: calc(100% + 55%);
        left: -55%;

        padding: var(--espaciado-normal);
    }

        .trabajo-etiqueta {
            margin: var(--espaciado-leve);
        }

    /* --- PORTAFOLIO --- */
    .portafolio-proyectos {
        grid-template-columns: 1fr 1fr;
        grid-auto-flow: row;
    }

        .portafolio-etiqueta {
            font-size: 1em;
        }

        .portafolio-descripcion {
            padding: var(--espaciado-normal);
        }

            .portafolio-descripcion-parrafo {
                font-size: 1em;
            }

    /* ---- CONTACTO ---- */
    .contacto-informacion-descripcion {
        text-align: justify;
    }

    /* ------ MODAL ----- */
    .modal-container-body {
        grid-gap: calc(var(--espaciado-normal) / 1.5);
    }

            .modal-contenido-titulo {
                margin-top: var(--espaciado-normal);
            }
}

@media (max-width: 600px) {
    /* --- GENERALES --- */
    html {
        font-size: 12px;
    }
    
    /* ----- HEADER ----- */
    #header {
        position: absolute;
    }

        .header-navbar {
            display: none;
        }

        .header-menu-button {
            display: block;
        }

    /* ------ HERO ------ */
    #hero {
        min-height: calc(100vh - 40px);
    }

    /* --- PROFESIONAL -- */
    .profesional-nivel-barra {
        padding: 0 var(--espaciado-leve);
    }

    /* ---- TRABAJO ---- */
    .trabajo-servicio {
        grid-template-columns: 1fr;

        position: relative;
        margin-bottom: 2em;
    }

        .trabajo-imagen-capa {
            grid-template-columns: 1fr;
            align-content: flex-start;
            padding: var(--espaciado-leve)
        }

            .trabajo-etiqueta {
                position: relative;
                margin: 0;
                margin-right: auto;
            }
            .trabajo-etiqueta.impar {
                grid-column-start: 2;
            }

        .trabajo-descripcion {
            position: absolute;
            bottom: -2em;
            left: 0;
            right: 0;

            width: 90%;
            margin: 0 auto;
            
            min-height: auto;
        }
        .trabajo-descripcion.impar {
            right: 0;
        }

    /* --- PORTAFOLIO --- */
    .portafolio-proyectos {
        grid-template-columns: 1fr;
    }

    /* ------ MODAL ----- */
    .modal-container-body {
        grid-template: auto auto / 1fr;
        grid-gap: var(--espaciado-normal);
    }

        .modal-body-imagen {
            height: calc(calc(100vw - var(--espaciado-muy-alto) * 2) * 0.6);
        }
}

@media (max-width: 420px) {
    /* --- GENERALES --- */
    html {
        font-size: 10px;
    }
}