.modal-container-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--espaciado-normal);
  border-bottom: 1px solid #dee2e6;
}

  .modal-encabezado-titulo {
    font-size: 1.4em;
    font-weight: 500;
    color: var(--color-black);
    margin: 0 auto;
  }

  .modal-encabezado-button {
    position: absolute;
    right: 0;
    z-index: 10;
    padding: var(--espaciado-normal);
    border: none;
    outline: none;
    color: var(--color-darkgray);
    background-color: transparent;
    font-size: 1.1rem;
    cursor: pointer;
  }
  .modal-encabezado-button:hover {
    color: var(--color-black);
  }

.modal-container-body {
  display: grid;
  grid-gap: var(--espaciado-normal);
  
  margin: 1.5rem var(--espaciado-normal);
  overflow: auto;
}

  .modal-body-imagen {
    margin: 0;
    align-self: center;
    height: 100%;
  }
    .modal-body-imagen img {
      width: 100%;
      height: inherit;
      object-fit: cover;
      vertical-align: top;
    }

  .modal-body-contenido {
    min-width: 0;
    align-self: flex-start;
  }

    .modal-contenido-titulo {
      margin-top: var(--espaciado-alto);
      margin-bottom: 0.8rem;
      font-weight: 500;
      text-transform: uppercase;
    }
    .modal-contenido-titulo:first-of-type {
      margin-top: 0;
    }

    .modal-contenido-parrafo {
      line-height: 1.5;
      text-align: justify;
      margin: 0;
    }

    .modal-contenido-enlaces {
      display: flex;
      justify-content: space-between;
    }

      .modal-contenido-enlaces a {
        text-decoration: none;
        color: var(--color-enlace);
      }
      .modal-contenido-enlaces a:hover {
        color: var(--color-enlace-hover);
      }

      .modal-enlaces-url {
        min-width: 0;
        word-wrap: break-word;
      }

      .modal-enlaces-github {
        margin-left: var(--espaciado-normal)
      }

    .modal-contenido-requerimientos {
      font-size: 0.85em;
      text-align: center;
      color: var(--color-white);

      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: 1fr;
    }

      .modal-contenido-requerimientos * {
        padding: 0.2rem 0;
        text-transform: uppercase;
      }
      .modal-contenido-requerimientos .html {
        background-color: #ff7d00;
      }
      .modal-contenido-requerimientos .css {
        background-color: #0096d1;
      }
      .modal-contenido-requerimientos .javascript {
        background-color: #f7e018;
      }
      .modal-contenido-requerimientos .bootstrap {
        background-color: #563d7c;
      }
      .modal-contenido-requerimientos .nunjucks {
        background-color: #1e5a1e;
      }
      .modal-contenido-requerimientos .nodejs {
        background-color: #026e00;
      }
      .modal-contenido-requerimientos .php {
        background-color: #8892bf;
      }
      .modal-contenido-requerimientos .mysql {
        background-color: #447e9b;
      }
      .modal-contenido-requerimientos .firebase {
        background-color: #ffcc30;
      }
      .modal-contenido-requerimientos .gulp {
        background-color: #cf4647;
      }
      .modal-contenido-requerimientos .git {
        background-color: #f14e32;
      }
      .modal-contenido-requerimientos .github {
        background-color: #24292f;
      }
      .modal-contenido-requerimientos .gitlab {
        background-color: #f96424;
      }