<section id="contacto">
  <div class="section-background-color">
    <div class="contacto-contenedor">
      <div class="contacto-contenido">
        <div class="contacto-contenido-informacion">
          <!-- Plantilla -->
          <h2 class="contacto-informacion-titulo">{{contact.title}}</h2>
          <p class="contacto-informacion-descripcion">{{contact.about_me}}</p>
          <a class="contacto-informacion-correo" href="mailto:{{contacto.email}}">{{contact.email}}</a>
          <div class="contacto-informacion-redes-sociales">
            {{#if contact.social_networks.github }} 
              <a href="{{contact.social_networks.github}}" class="contacto-icono" target="_blank"><i class="fab fa-github"></i></a>
            {{/if}}
            {{#if contact.social_networks.linkedin }}
              <a href="{{contact.social_networks.linkedin}}" class="contacto-icono" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            {{/if}}
            {{#if contact.social_networks.workana }}
              <a href="{{contact.social_networks.workana}}" class="contacto-icono" target="_blank"><i class="fas fa-globe-americas"></i></a>
            {{/if}}
          </div>
        </div>
        <!-- <form action="" class="contacto-formulario">
          <input type="text" name="name" id="name" placeholder="Nombre" required>
          <input type="email" name="email" id="email" placeholder="Correo" required>
          <textarea name="message" id="message" rows="5" placeholder="Mensaje" required></textarea>
          <input type="submit" value="Enviar" id="contacto_enviar">
        </form> -->
      </div>
      <div class="contacto-arrow-container">
        <a class="contacto-arrow-link" href="#inicio"><i class="fas fa-chevron-up"></i></a>
      </div>
    </div>
  </div>
</section>