<div id="modal" class="inactive">
  <div id="modal_container">
      <!-- Plantilla -->
      <!-- <div class="modal-container-header">
          <h3 class="modal-encabezado-titulo">${proyecto.titulo}</h3>
          <button class="modal-encabezado-button" id="btn_cerrar_modal">×</button>
      </div>
      <div class="modal-container-body">
          <figure class="modal-body-imagen">
              <img src="${proyecto.imagen.descripcion.url}" srcset="${proyecto.imagen.descripcion.url}, ${proyecto.imagen.descripcion.url2x} 2x" alt="Pagina Web">
          </figure>
          <div class="modal-body-contenido">
              <h4 class="modal-contenido-titulo">Descripcion</h4>
              <p class="modal-contenido-parrafo">${proyecto.descripcion}</p>
              <h4 class="modal-contenido-titulo">URL / Github</h4>
              <div class="modal-contenido-enlaces">
                  <a class="modal-enlaces-url" href="https://${proyecto.url.website}" target="_blank">${proyecto.url.website}</a>
                  <a class="modal-enlaces-github" href="${proyecto.url.github}" target="_blank"><i class="fab fa-github"></i></a>
              </div>
              <h4 class="modal-contenido-titulo">Requerimientos</h4>
              <div class="modal-contenido-requerimientos">
                  <span class="${proyecto.herramientas[0]}">${proyecto.herramientas[0]}</span>
              </div>
          </div>
      </div> -->
  </div>
</div>