<header id="header">
  <nav class="header-navbar">
    <a class="header-navbar-link">{{ navbar.home }}</a>
    <a class="header-navbar-link" href="#profesional">{{ navbar.professional }}</a>
    <a class="header-navbar-link" href="#trabajo">{{ navbar.job }}</a>
    <a class="header-navbar-link" href="#portafolio">{{ navbar.portfolio }}</a>
    <a class="header-navbar-link" href="#contacto"><span>{{ navbar.contact }}</span></a>
  </nav>
  <div class="header-menu-button" id="btn_menu">
    <span class="header-button-line button-line-1"></span>
    <span class="header-button-line button-line-2"></span>
    <span class="header-button-line button-line-3"></span>
  </div>
  <nav class="header-menu" id="menu">
    <a class="header-menu-link inicio active" href="#inicio">{{ navbar.home }}</a>
    <a class="header-menu-link profesional" href="#profesional">{{ navbar.professional }}</a>
    <a class="header-menu-link trabajo" href="#trabajo">{{ navbar.job }}</a>
    <a class="header-menu-link portafolio" href="#portafolio">{{ navbar.portfolio }}</a>
    <a class="header-menu-link contacto" href="#contacto">{{ navbar.contact }}</a>
  </nav>
</header>