<section id="portafolio">
  <h2 class="portafolio-titulo"><span>03</span> {{ portfolio.title }}</h2>
  <h3 class="portafolio-subtitulo">{{ portfolio.subtitle }}</h3>
  <div class="portafolio-proyectos">
    <!-- Plantilla -->
    {{#each portfolio.projects as |project| }}
      <div class="portafolio-proyecto" data-id="{{ project.title }}">
        <picture>
          <img class="portafolio-imagen"
            src="{{#if project.image.card.url2x}}{{project.image.card.url2x}}{{else}}{{project.image.card.url}}{{/if}}"
            srcset="{{#if project.image.card.url2x}}{{project.image.card.url}}, {{project.image.card.url2x}} 2x{{/if}}"
            alt="{{ project.title }}"
          />
        </picture>
        <div class="portafolio-descripcion">
          <h4 class="portafolio-descripcion-titulo">{{ project.title }}</h4>
          <p class="portafolio-descripcion-parrafo">{{ project.resume }}</p>
          <i class="portafolio-icono fas fa-search-plus"></i>
        </div>
      </div>
    {{/each}}
  </div>
  <div class="portafolio-espaciado-de-contacto"></div>
</section>