<section id="profesional">
  <div class="section-background-color">
    <div class="profesional-contenido">
      <h2 class="profesional-titulo">
        <span>01</span> {{ professional.title }}
      </h2>
      <h3 class="profesional-subtitulo">{{ professional.subtitle }}</h3>

      <div class="profesional-conocimientos">
        <!-- Plantilla -->
        {{#each professional.knowledge as |knowledge| }}
          <p class="profesional-conocimiento-nombre">{{ knowledge.title }}</p>
          <div class="profesional-conocimiento-nivel">
            <div class="profesional-nivel-barra n{{{ knowledge.level }}}">
              <div class="profesional-barra-relleno"></div>
            </div>
            <p class="profesional-nivel-porcentaje">{{ knowledge.level }}%</p>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</section>
