.knowledge-level .lvl95 {
  width: 100%;
}
.knowledge-level .lvl90 {
  width: 95%;
}
.knowledge-level .lvl85 {
  width: 90%;
}
.knowledge-level .lvl80 {
  width: 85%;
}
.knowledge-level .lvl75 {
  width: 80%;
}
.knowledge-level .lvl70 {
  width: 75%;
}