.knowledge-level .lvl95 {
  max-width: 95%;
}
.knowledge-level .lvl90 {
  max-width: 90%;
}
.knowledge-level .lvl85 {
  max-width: 85%;
}
.knowledge-level .lvl80 {
  max-width: 80%;
}
.knowledge-level .lvl75 {
  max-width: 75%;
}
.knowledge-level .lvl70 {
  max-width: 70%;
}